.encabezado--con-filtros h2 {
  margin-top: 10px;
  font-size: 50px;
}
.encabezado--con-filtros .filtros {
  width: 250px;
  height: 75px;
  padding: 20px;
  margin-left: auto;
}
.encabezado--con-filtros .filtros a {
  margin-left: 20px;
  font-size: 25px;
  color: color-primario;
}
