h3 {
  font-size: 20px;
  margin: 0;
}
h2 {
  font-size: 25px;
  margin: 0;
}
h1 {
  font-size: 30px;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  font-family: 'Lato', sans-serif;
}
